<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Test charting</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/charting.css') }}">
</head>

<body>
  <svg style="width:800px;height:600px;" id="test"></svg>
  <div>Update</div>
  <script data-main="{{ url_for('static', filename='scripts/js/config.js') }}" type="text/javascript" src="{{ url_for('static', filename='scripts/bower_components/requirejs/require.js') }}"></script>
</body>
</html>


