.tick {
  font-size: 12px;
}
.tick line {
  stroke: #404040;
}
path.domain {
  fill: none;
  stroke: #404040;
}
body {
  font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
}
#test {
  width: 800px;
  height: 600px;
}
